@import url(variables.css);

@font-face {
    font-family: "ComforBold";
    src: url(../storage/fonts/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: "ComforRegular";
    src: url(../storage/fonts/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: "ComforSBold";
    src: url(../storage/fonts/Comfortaa-SemiBold.ttf);
}

body{
    animation: bodyGradientMove 20s infinite linear;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
    width: 100%;
    height: 100vh;
    background-size: 200% 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mainDiv{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 280px calc(100% - 280px);
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


#mDS1{
    display: flex;
    justify-content: center;
}
#mDS2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.headerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title{
    font-size: 80px;
    font-family: "ComforBold", sans-serif;
    color: #ffffff;
}


.searchBar{
    display: grid;
    grid-template-columns: calc(100% - 100px) 100px;
    margin-top: 40px;
    width: 80%;
    height: 40px;
}


#sBS1{
    background-color: #1b1b1b;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#sBS2{
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    font-family: "ComforSBold", sans-serif;
    background-color: #ffffff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
#sBS2:hover{
    background-color: #cecece;
}

#searchinput{
    font-family: "ComforRegular", sans-serif;
    color: #ffffff;
    text-indent: 2ch;
    background-color: #1b1b1b;
    border: none;
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
#searchinput:focus{
    outline: none;
}

.dateDiv{
    margin-top: 10px;
    display: grid;
    grid-template-columns: calc(100% - 100px) 100px;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
}
.dateDivSection{
    padding: 4px;
    color: #ffffff;
    font-family: "ComforRegular", sans-serif;
    font-size: 14px;
}

#info1{
    color: rgb(255, 0, 234);
}
#info2{
    color: rgb(0, 255, 234);
}




.element{
    min-width: 50%;
    display: grid;
    grid-template-columns: calc(100% - 100px) 100px;
}
.element2{
    opacity: 40%;
    min-width: 50%;
    display: grid;
    grid-template-columns: calc(100% - 100px) 100px;
}


#eS1{
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
}
#eS2{
    transition: 0.2s;
    padding: 10px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.elementTItle{
    font-family: "ComforSBold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
    margin-right: 20px;
}
.elementTItle2{
    text-decoration-line: line-through;
    font-family: "ComforSBold", sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
    margin-right: 20px;
}

.elementBtn{
    border-radius: 50%;
    padding: 4px;
    background-color: #e9e9e9;
    filter: invert(100%);
    width: 25px;
    height: 25px;
}




@keyframes bodyGradientMove {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 200%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}